desktop.ini
*.suo
*.sln.cache
*.orig
*.user
*Thumbs.db
bin/
obj/
packages/
.vs/
.idea/
publish/
~*.xlsx
# While there are files in the Container folder that are in the repo, a set up container's files shouldn't be.
/Hast.Abstractions/Hast.Vitis.Abstractions/Container/
TestResults/*.trx
/global.json
/.editorconfig
/Hast.Abstractions/Hast.Vitis.Abstractions/.editorconfig
