desktop.ini
*.suo
*.sln.cache
*.orig
*.user
*Thumbs.db
bin/
obj/
packages/
.vs/
.idea/
publish/
~*.xlsx
/Hast.Abstractions/Hast.Vitis.Abstractions/Docs/Container/centos7-install.sh
/Hast.Abstractions/Hast.Vitis.Abstractions/Docs/Container/platform/*.rpm
/Hast.Abstractions/Hast.Vitis.Abstractions/Docs/Container/Xilinx_Unified_2020.2_1118_1232
TestResults/*.trx
