[submodule "Lombiq.Arithmetics"]
	path = Lombiq.Arithmetics
	url = https://github.com/Lombiq/Arithmetics.git
	branch = dev
[submodule "Hastlayer-Hardware-Framework---Vitis"]
	path = Hastlayer-Hardware-Framework---Vitis
	url = https://github.com/Lombiq/Hastlayer-Hardware-Framework---Vitis
	branch = dev
[submodule "tools/Lombiq.Analyzers"]
	path = tools/Lombiq.Analyzers
	url = https://github.com/Lombiq/.NET-Analyzers.git
	branch = dev
[submodule "Libraries/Lombiq.HelpfulLibraries"]
	path = Libraries/Lombiq.HelpfulLibraries
	url = https://github.com/Lombiq/Helpful-Libraries.git
	branch = orchard-core-preview
