<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="Orchard\src\packages" />
  </config>
  <packageSources>
	<add key="ILSpy nightly" value="https://ci.appveyor.com/nuget/ilspy-masterfeed" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>