<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/App_Data/logs/internal-nlog.txt">

  <targets>
    <!-- File target -->
    <target xsi:type="File" name="file"
            fileName="${basedir}/App_Data/logs/hastlayer-log-${shortdate}.log"
            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception:format=ToString,StackTrace}" />

    <!-- Console target -->
    <target xsi:type="Console" name="console" />
  </targets>

  <rules>
    <!-- All warnings and above go to the file and console target. -->
    <logger name="*" minlevel="Warn" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="console" />

    <!-- The hosting lifetime events go to the console. -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console" />
  </rules>
</nlog>
