name: Build and Test

# Runs for PRs opened for any branch, and pushes to the dev branch.
on:
  pull_request:
  push:
    branches:
      - dev

jobs:
  build-and-test-larger-runners:
    if: github.ref_name != github.event.repository.default_branch
    name: Build and Test (larger runners)
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-dotnet.yml@issue/OSOE-743
    with:
      parent-job-name: "root-solution-larger-runners"
      machine-types: "['buildjet-4vcpu-ubuntu-2204']"
      timeout-minutes: 15
      build-configuration: Debug
      build-enable-nuget-caching: "true"
      build-enable-npm-caching: "true"

  build-and-test-standard-runners:
    if: github.ref_name == github.event.repository.default_branch
    name: Build and Test (standard runners)
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-dotnet.yml@issue/OSOE-743
    with:
      parent-job-name: "root-solution-standard-runners"
      timeout-minutes: 30
      build-configuration: Debug

  build-and-test-nuget-test:
    name: Build and Test - NuGetTest solution
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-dotnet.yml@issue/OSOE-743
    with:
      parent-job-name: "nuget-solution"
      build-directory: NuGetTest
      timeout-minutes: 10

  post-pull-request-checks-automation:
    name: Post Pull Request Checks Automation
    needs: [build-and-test-larger-runners, build-and-test-nuget-test]
    if: github.event.pull_request != ''
    uses: Lombiq/GitHub-Actions/.github/workflows/post-pull-request-checks-automation.yml@dev
    secrets:
      JIRA_BASE_URL: ${{ secrets.DEFAULT_JIRA_BASE_URL }}
      JIRA_USER_EMAIL: ${{ secrets.DEFAULT_JIRA_USER_EMAIL }}
      JIRA_API_TOKEN: ${{ secrets.DEFAULT_JIRA_API_TOKEN }}
      MERGE_TOKEN: ${{ secrets.LOMBIQBOT_GITHUB_PERSONAL_ACCESS_TOKEN }}
