name: Build and Test

# Runs for PRs opened for any branch, and pushes to the dev branch.
on:
  pull_request:
  push:
    branches:
      - dev

jobs:
  build-and-test-larger-runners:
    if: github.ref_name != github.event.repository.default_branch
    name: Build and Test (larger runners)
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-dotnet.yml@issue/INFRA-156
    with:
      machine-types: "['buildjet-4vcpu-ubuntu-2204', 'buildjet-4vcpu-ubuntu-2204', 'buildjet-4vcpu-ubuntu-2204', 'buildjet-4vcpu-ubuntu-2204', 'buildjet-4vcpu-ubuntu-2204']"
      timeout-minutes: 15
      build-configuration: Debug
      build-enable-nuget-caching: "true"
      build-enable-npm-caching: "true"
