name: Build and Test

# Runs for PRs opened for any branch, and pushes to the dev branch.
on:
  pull_request:
  push:
    branches:
      - dev

jobs:
  build-and-test-larger-runners0:
    if: github.ref_name != github.event.repository.default_branch
    name: Build and Test (larger runners)0
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-dotnet.yml@dev
    with:
        # If we'll have another concurrent job in this workflow then the next line should be removed.
      cancel-workflow-on-failure: "false"
      machine-types: "['gitrunners-ubuntu-2204-x64-8vcpu']"
      timeout-minutes: 60
      build-configuration: Debug

  build-and-test-larger-runners1:
    if: github.ref_name != github.event.repository.default_branch
    name: Build and Test (larger runners)1
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-dotnet.yml@dev
    with:
        # If we'll have another concurrent job in this workflow then the next line should be removed.
      cancel-workflow-on-failure: "false"
      machine-types: "['gitrunners-ubuntu-2204-x64-8vcpu']"
      timeout-minutes: 60
      build-configuration: Debug

  build-and-test-larger-runners2:
    if: github.ref_name != github.event.repository.default_branch
    name: Build and Test (larger runners)2
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-dotnet.yml@dev
    with:
        # If we'll have another concurrent job in this workflow then the next line should be removed.
      cancel-workflow-on-failure: "false"
      machine-types: "['gitrunners-ubuntu-2204-x64-8vcpu']"
      timeout-minutes: 60
      build-configuration: Debug

  build-and-test-larger-runners3:
    if: github.ref_name != github.event.repository.default_branch
    name: Build and Test (larger runners)3
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-dotnet.yml@dev
    with:
        # If we'll have another concurrent job in this workflow then the next line should be removed.
      cancel-workflow-on-failure: "false"
      machine-types: "['gitrunners-ubuntu-2204-x64-8vcpu']"
      timeout-minutes: 60
      build-configuration: Debug

  build-and-test-larger-runners4:
    if: github.ref_name != github.event.repository.default_branch
    name: Build and Test (larger runners)4
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-dotnet.yml@dev
    with:
        # If we'll have another concurrent job in this workflow then the next line should be removed.
      cancel-workflow-on-failure: "false"
      machine-types: "['gitrunners-ubuntu-2204-x64-8vcpu']"
      timeout-minutes: 60
      build-configuration: Debug

