name: Build and Test

# Runs for PRs opened for any branch, and pushes to the dev branch.
on:
  pull_request:
  push:
    branches:
      - dev

jobs:
  build-and-test-larger-runners:
    strategy:
      matrix:
        # This is an undocumented way of creating a matrix of multiple values, see:
        # https://stackoverflow.com/questions/66025220/paired-values-in-github-actions-matrix.
        build: [
            {machine-type: "[\"ubuntu-latest\"]", test-disable: true},
          ]
    if: github.ref_name != github.event.repository.default_branch
    name: Build and Test (larger runners)
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-dotnet.yml@issue/HAST-290
    secrets:
      CHECKOUT_TOKEN: ${{ secrets.LOMBIQBOT_GITHUB_PERSONAL_ACCESS_TOKEN }}
    with:
      machine-types: ${{ matrix.build.machine-type }} 
      timeout-minutes: 30
      build-configuration: Debug
      test-disable: ${{ matrix.build.test-disable }}
